div.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f299b9;
  > div {
    display: flex;
    justify-content: center;
    margin-top: 1em;

    padding: 0.5em;
    > input {
      font-size: 1.2rem;
      background-color: #eff285;
      border-radius: 20px;
    }
  }
}
.div-task {
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  .list-task {
    display: flex;
    gap: 10px;
    background-color: #eff285;
    border-radius: 50px;
    flex-grow: 0;
    p {
      font-size: 1.2em;
      font-weight: 500;
    }
  }
}
