<input type="text" id="addTask" [(ngModel)]="valueInput" />
<button type="button" (click)="addTask()">
  <i class="fas fa-plus-circle"></i>
</button>
<ng-container *ngIf="tasks; else allDo">
  <ng-container *ngFor="let task of tasks">
    <ng-container *ngIf="task.completed === false">
      <p>
        <button type="button" (click)="removeTask(task.id)">
          <i class="fas fa-times-circle"></i>
        </button>
        {{ task.title }}
        <button type="button" (click)="changeComplatedBool(task.id)">
          <i class="fas fa-check-circle"></i>
        </button>
      </p>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #allDo>
  <p>Good Boy!!</p>
</ng-template>
